<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="serverIP" value="127.0.0.1"/>
    <add key="serverPort" value="60058"/>
    <!--心跳超时重连时间(单位：秒)-->
    <add key="heartTime" value="60"/>
    <!--待发送数据文件夹-->
    <add key="sendPath" value="D:\work\拱北系统\Send"/>
    <!--已发送数据文件夹-->
    <add key="sendOutPath" value="D:\work\拱北系统\SendOut"/>
    <!--ctConclusionResult文件-->
    <add key="conclusionResultPath" value="D:\work\拱北系统\Result"/>
    <!--是否记录日志 1-记录 0-不记录-->
    <add key="saveLog" value="1"/>
    <!--扫描文件夹周期（单位：毫秒）-->
    <add key="scanTime" value="500"/>
    <!--设备Id-->
    <add key="StationID" value="d001"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=.;Database=IM_Manifest_DB;Uid=sa;Pwd=sasa;Max Pool Size=500" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>